html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
}

h1 {
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 30px;
  text-align: left;
}

button {
  cursor: pointer;
  padding: 10px 20px;
  font-size: 18px;
}

.page {
  padding: 10px 0;
  background-color: #ffffff;
  width: 90%;
}

.router-buttons__container {
  display: flex;
  padding: 5px;
  gap: 10px;
}

.router-buttons__button {
  padding: 5px 10px;
  min-width: 80px;
  background-color: #c0ffaa;
  border: 1px solid #000;
  border-radius: 3px;
  cursor: pointer;
}

.router-buttons__button:disabled {
  cursor: auto;
  opacity: 0.5;
}

.forms__container {
  padding: 5px;
}

.forms__create,
.forms__update {
  padding: 5px 0;
  display: flex;
  align-items: center;
  gap: 5px
}

.forms__create-input,
.forms__update-input {
  height: 32px;
  padding: 0 5px;
  background-color: #fff;
  border: 1px solid #ccc;
}

.forms__update-input:disabled {
  background-color: #ccc;
}

.forms__create-input:focus,
.forms__update-input:focus {
  border: 1px solid #3ea519;
  outline: none;
}

.forms__create-button,
.forms__update-button {
  padding: 5px 10px;

  min-width: 80px;

  background-color: #c0ffaa;
  border: 1px solid #000;
  border-radius: 3px;

  cursor: pointer;
}

.menu-buttons__container {
  gap: 10px;
  display: flex;
  max-width: 280px;
  flex-wrap: wrap;
  padding: 5px;
}

.menu-buttons__generate-btn {
  padding: 5px 10px;
  width: 250px;
  background-color: #c0ffaa;
  border: 1px solid #000;
  border-radius: 3px;
  cursor: pointer;
}

.menu-buttons__start-btn,
.menu-buttons__reset-btn {
  width: 120px;
  padding: 5px 10px;
  background-color: #c0ffaa;
  border: 1px solid #000;
  border-radius: 3px;
  cursor: pointer;
}

.actual__page {
  margin-left: 10px;
  padding: 5px 10px;
  font-size: 16px;
  background-color: #000;
  color: #fff;
}

.track__container {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.track__buttons-container {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.track__buttons-container--top,
.track__buttons-container--bottom {
  display: flex;
  align-items: center;

  gap: 7px;
}

.track__buttons-container--top span {
  font-size: 18px;
  color: #246360;
}

.buttons-container__select,
.buttons-container__remove {
  padding: 5px 10px;

  background-color: #ffffb4;
  border: 1px solid #000;
  border-radius: 3px;

  cursor: pointer;
}

.buttons-container__start,
.buttons-container__stop {
  padding: 3px 6px;

  color: #fff;
  background-color: #000;
  border-radius: 7px;
  border: none;
}

.track__animation-container {
  padding: 5px 0px;
}

.car_flag-container {
  display: flex;
  justify-content: space-between;
  align-items: end;

  /* margin-top: -30px; */
}

.car_flag-container svg:last-child {
  margin-bottom: 6px;
  margin-right: 70px;
}

.track__road {
  margin-top: -7px;
  height: 5px;
  width: 100%;
  background-color: #ccc;
}

svg {
  flex-shrink: 0;
}

.pagination {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  align-items: center;
}

.pagination__button {
  padding: 5px 10px;
  min-width: 80px;
  background-color: #c0ffaa;
  border: 1px solid #000;
  border-radius: 3px;
  cursor: pointer;
}

.pagination__button:disabled {
  background-color: #ff9191;
  opacity: 0.5;
  cursor: auto;
}

.winner-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px 40px;
  border-radius: 10px;
  font-size: 24px;
  font-family: Arial, sans-serif;
  z-index: 1000;
  text-align: center;
}

.buttons-container__start,
.buttons-container__stop {
  padding: 5px;
  cursor: pointer;
}

.buttons-container__start:disabled,
.buttons-container__stop:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.winners-page {
  background-color: #f1f1f1;
}
.winners-table {
  width: 50%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #fff;
}

.winners-table th,
.winners-table td {
  text-align: center;
  border: 1px solid #ddd;
}

.winners-table th {
  padding: 5px;
  
  background-color: #d8efd0;
}

.winners-table td svg {
  vertical-align: middle;
}

.winners-table th.sortable {
  cursor: pointer;
  user-select: none;
  background-color: #c0ffaa;
}

.winners-table th.sortable:hover {
  color: #fff;
  background-color: #44bd19;
}
