html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*{
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
}

h1 {
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 30px;
  text-align: left;
}

button {
  cursor: pointer;
  padding: 10px 20px;
  font-size: 18px;
}

.page {
  background-color: #ffffff;
}

.forms__container {
  padding: 5px;
}

.forms__create, .forms__update {
  padding: 5px 0;
  display: flex;
  align-items: center;
  gap: 5px
}
.forms__create-input, .forms__update-input {
  height: 32px;
  padding: 0 5px;
  background-color: #fff;
  border: 1px solid #ccc;
}
.forms__update-input:disabled{
  background-color: #ccc;
}
.forms__create-input:focus, .forms__update-input:focus {
  border: 1px solid #3ea519;
  outline: none;
}
.forms__create-button, .forms__update-button {
  padding: 5px 10px;

  min-width: 80px;
  
  background-color: #c0ffaa;
  border: 1px solid #000;
  border-radius: 3px;

  cursor: pointer;
}
.actual__page {
  margin-left: 10px;
  padding: 5px 10px;
  font-size: 16px;
  background-color: #000;
  color: #fff;
}
.track__container {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.track__buttons-container {
  display: flex;
  flex-direction: column;
  gap: 7px; 
}
.track__buttons-container--top, .track__buttons-container--bottom {
  display: flex;
  align-items: center;
  
  gap: 7px;
}
.track__buttons-container--top span {
  font-size: 18px;
  color: #246360;
}
.buttons-container__select, .buttons-container__remove {
  padding: 5px 10px;
  
  background-color: #ffffb4;
  border: 1px solid #000;
  border-radius: 3px;

  cursor: pointer;
}

.buttons-container__start, .buttons-container__stop {
  padding: 3px 6px;

  color: #fff;
  background-color: #000;
  border-radius: 7px;
  border: none;
}

.track__animation-container {
  padding: 5px 0px;
}
.car_flag-container {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.car_flag-container svg:last-child {
  margin-bottom: 6px;
}
.track__road {
  margin-top: -7px;
  height: 5px;
  width: 100%;
  background-color: #ccc;
}

svg {
  flex-shrink: 0;
}

.pagination {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  align-items: center;
}

.pagination__button {
  padding: 5px 10px;
  min-width: 80px;
  background-color: #c0ffaa;
  border: 1px solid #000;
  border-radius: 3px;
  cursor: pointer;
}

.pagination__button:disabled {
  background-color: #ff9191;
  opacity: 0.5;
  cursor: not-allowed;
}
